
Projects/.vs/cmake.db
Projects/.vs/CMake Overview
Projects/.vs/desktop.ini
Projects/.vs/Projects/desktop.ini
Projects/.vs/Projects/v16/.suo
Projects/.vs/Projects/v16/Browse.VC.db
Projects/.vs/Projects/v16/Browse.VC.db-shm
Projects/.vs/Projects/v16/Browse.VC.db-wal
Projects/.vs/Projects/v16/Browse.VC.opendb
Projects/.vs/Projects/v16/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/1bcef53844458dd9/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/1bcef53844458dd9/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/337c34a84bf2b5b9/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/337c34a84bf2b5b9/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/751e17c21e335b25/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/751e17c21e335b25/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/884fcc0dca1efc5/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/884fcc0dca1efc5/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/9714e8c2f926dab5/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/9714e8c2f926dab5/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/c87dd3c8446c7ec7/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/c87dd3c8446c7ec7/TEST.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/d686829d193a84f9/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/d686829d193a84f9/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/d957e8f881d131f1/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/d957e8f881d131f1/MAIN.ipch
Projects/.vs/Projects/v16/ipch/AutoPCH/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/ff26c26ac0d14e9b/desktop.ini
Projects/.vs/Projects/v16/ipch/AutoPCH/ff26c26ac0d14e9b/MAIN.ipch
Projects/.vs/Projects/v16/ipch/desktop.ini
Projects/.vs/ProjectSettings.json
Projects/.vs/slnx.sqlite
Projects/.vs/VSWorkspaceState.json
.vs/cmake.db
.vs/CPlusPlus_2020/v16/.suo
.vs/CPlusPlus_2020/v16/Browse.VC.db
.vs/CPlusPlus_2020/v16/Browse.VC.db-shm
.vs/CPlusPlus_2020/v16/Browse.VC.db-wal
.vs/CPlusPlus_2020/v16/Browse.VC.opendb
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/18bb4f85485ae8fd/BASICSCRIPT.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/213da2fc4a8d9bdc/MAIN.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/22b67b40d4e42f7b/MAIN.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/238f08f177a1d5cb/MAIN.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/2db2b8f98d5eafaf/SASCHA.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/41d3e904e86953c4/SASCHA.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/630581c6a0ce3547/BAISCSCRIPT.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/65e564ccba0617e3/BASICSCRIPT_LISTEN.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/84a9c2469673e428/BASICSCRIPT.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/9f1b615d0acf4fc/BASICSCRIPT_LISTEN.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/a65d969018747b6d/BAISCSCRIPT.ipch
.vs/CPlusPlus_2020/v16/ipch/AutoPCH/c3ba9a0ce3170718/BASISSCRIPT.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tasks.vs.json
